{% load static %}
<!doctype html>
<html lang="en">
<head>
	<title>Sickhype</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
		<h1 style="color:green;"><b>Welcome to Sickhype!</b></h1>
		<p>Be a HYPEBEAST Today!</p> 
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Supreme New Era Box Logo Beanie Black</h3>
				<a href="https://stockx.com/supreme-new-era-box-logo-beanie-black" target="_blank">
					<img src="/static/hypebeasts/img1.jpg" width=300px height=200px>
				</a>
				<div class="row">
					<p></p>
				</div>
				<p>Supreme's highly-coveted Box Logos returned in the form of Hooded Sweatshirts and New Era Box Logo Beanies for their FW19 Week 16 Drop. Similarly to the hooded sweatshirts, the Box Logo Beanies feature a particularly unique design this season as each box logo comes in the form of a colored bandana. The beanies released in eight colorways, seven of which feature shared coloring between the beanie and the box logo and one colorway which features a blue box logo on a grey beanie. The Supreme Box Logo Beanies released on December 12th, 2019, and retailed for $38 USD.</p>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td><b>SEASON</b></td>
							<td><b>FW19</b></td>
						</tr>
						<tr>
							<td><b>COLOR</b></td>
							<td><b>BLACK</b></td>
						</tr>
						<tr>
							<td><b>RETAIL PRICE</b></td>
							<td><b>$38</b></td>
						</tr>
						<tr>
							<td><b>RELEASE DATE</b></td>
							<td><b>12/12/2019</b></td>
						</tr>
						<tr>
							<td><b>IN STOCK(PRICE)</b></td>
							<td><b>ONE SIZE($135)</b></td>
						</tr>
					</tbody>
				</table>
				<p><a href="https://stockx.com/supreme-new-era-box-logo-beanie-black" target="_blank">more information</a></p>
			</div>
			<div class="col-sm-4">
				<h3>Supreme Bandana Box Logo Hooded Sweatshirt Black</h3>
				<a href="https://stockx.com/supreme-bandana-box-logo-hooded-sweatshirt-black" target="_blank">
					<img src="/static/hypebeasts/img2.jpg" width=300px height=200px>
				</a>
				<div class="row">
					<p></p>
				</div>
				<p>Supreme's highly-coveted Box Logos returned in the form of Hooded Sweatshirts for their FW19 Week 16 Drop. Last released in 2017, the Box Logo Hooded Sweatshirts feature a particularly unique design this season as each box logo comes in the form of a colored bandana. The hoodies released in eight colorways, seven of which feature shared coloring between the garment and the box logo and one colorway which features a blue box logo on a grey hooded sweatshirt. The Supreme Bandana Box Logo Hooded Sweatshirt released on December 12th, 2019, and retailed for $168 USD.</p>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td><b>SEASON</b></td>
							<td><b>FW19</b></td>
						</tr>
						<tr>
							<td><b>COLOR</b></td>
							<td><b>BLACK</b></td>
						</tr>
						<tr>
							<td><b>RETAIL PRICE</b></td>
							<td><b>$168</b></td>
						</tr>
						<tr>
							<td><b>RELEASE DATE</b></td>
							<td><b>12/12/2019</b></td>
						</tr>
						<tr>
							<td><b>IN STOCK(PRICE)</b></td>
							<td><b>MEDIUM($613), lARGE($662)</b></td>
						</tr>
					</tbody>
				</table>
				<p><a href="https://stockx.com/supreme-bandana-box-logo-hooded-sweatshirt-black" target="_blank">more information</a></p>
			</div>
			<div class="col-sm-4">
				<h3>Supreme Nutcracker Nutcracker Red</h3>
				<a href="https://stockx.com/supreme-nutcracker-red" target="_blank">
					<img src="/static/hypebeasts/img3.jpg" width=300px height=200px>
				</a>
				<div class="row">
					<p></p>
				</div>
				<p>Please Note: Due to the nature of production for this item, they may come with small cosmetic flaws or defects on the exterior. Supreme's FW19 Week 16 drop was mostly noted for its inclusion of the season's Box Logos but also featured the inclusion of 2019's Christmas Item, a Supreme branded Nutcracker. News of the Nutcracker leaked just days before its release and dropping during mid-December, makes for the perfect addition to the Supreme collector's seasonal decorating. The Supreme Nutcracker released on December 12th, 2019, and retailed for $48 USD.　　　　　　　　</p>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td><b>SEASON</b></td>
							<td><b>FW19</b></td>
						</tr>
						<tr>
							<td><b>COLOR</b></td>
							<td><b>RED</b></td>
						</tr>
						<tr>
							<td><b>RETAIL PRICE</b></td>
							<td><b>$48</b></td>
						</tr>
						<tr>
							<td><b>RELEASE DATE</b></td>
							<td><b>12/12/2018</b></td>
						</tr>
						<tr>
							<td><b>IN STOCK(PRICE)</b></td>
							<td><b>ONE SIZE($84)</b></td>
						</tr>
					</tbody>
				</table>
				<p><a href="https://stockx.com/supreme-nutcracker-red" target="_blank">more information</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h3>Air Jordan 1 Retro High Off-White University Blue</h3>
				<a href="https://stockx.com/air-jordan-1-retro-high-off-white-university-blue" target="_blank">
					<img src="/static/hypebeasts/img4.jpg" width=300px height=200px>
				</a>
				<div class="row">
					<p></p>
				</div>
				<p>Time for some Tobacco Road vibes with these Jordan 1 Retro Off-Whites. Also known as the “UNC” editions, these Jordan 1s are the third colorway designed by Virgil Abloh and made in collaboration with his Off-White label. The sneakers come in a white, dark powder blue and cone colorway, with a white and blue deconstructed leather upper and Off-White detailing throughout. If you’re a fan of Virgil Abloh’s work and want to rep Off-White, this pair is another must-have.</p>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td><b>STYLE</b></td>
							<td><b>AQ0818-148</b></td>
						</tr>
						<tr>
							<td><b>COLORWAY</b></td>
							<td><b>WHITE/DP BLUE-CONE</b></td>
						</tr>
						<tr>
							<td><b>RETAIL PRICE</b></td>
							<td><b>$190</b></td>
						</tr>
						<tr>
							<td><b>RELEASE DATE</b></td>
							<td><b>06/23/2018</b></td>
						</tr>
						<tr>
							<td><b>IN STOCK(PRICE)</b></td>
							<td><b>US 8($1850), US 9($1850)</b></td>
						</tr>
					</tbody>
				</table>
				<p><a href="https://stockx.com/air-jordan-1-retro-high-off-white-university-blue" target="_blank">more information</a></p>
			</div>
			<div class="col-sm-4">
				<h3>Converse Chuck Taylor All-Star Hi Off-White</h3>
				<a href="https://stockx.com/converse-chuck-taylor-all-star-hi-off-white" target="_blank">
					<img src="/static/hypebeasts/img5.jpg" width=300px height=200px>
				</a>
				<div class="row">
					<p></p>
				</div>
				<p>The Converse Chuck Taylor All-Star Hi also made it way into "The 10" Collection. Made in collaboration with Virgil Abloh's Off-White and Nike, this series brought together all three brands for an exciting new rendition of the classic Converse Chuck Taylor. A part of the "Ghosting" Series, this pair comes in a white, cone and ice blue colorway. Their release date was November 1st, 2017 where they were available alongside the rest of the Off-White x Nike "Ghosting" Collection.</p>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td><b>STYLE</b></td>
							<td><b>162204C</b></td>
						</tr>
						<tr>
							<td><b>COLORWAY</b></td>
							<td><b>WHITE/CONE-ICE BLUE</b></td>
						</tr>
						<tr>
							<td><b>RETAIL PRICE</b></td>
							<td><b>$130</b></td>
						</tr>
						<tr>
							<td><b>RELEASE DATE</b></td>
							<td><b>05/12/2018</b></td>
						</tr>
						<tr>
							<td><b>IN STOCK(PRICE)</b></td>
							<td><b>US 9($2000)</b></td>
						</tr>
					</tbody>
				</table>
				<p><a href="https://stockx.com/converse-chuck-taylor-all-star-hi-off-white" target="_blank">more information</a></p>
			</div>
			<div class="col-sm-4">
				<h3>Nike Air Presto Off-White (2018)</h3>
				<a href="https://stockx.com/nike-air-presto-off-white-white-2018" target="_blank">
					<img src="/static/hypebeasts/img6.jpg" width=300px height=200px>
				</a>
				<div class="row">
					<p></p>
				</div>
				<p>After the release of his critically-acclaimed "The Ten" project with Nike, Virgil Abloh is back again with another iteration of the Nike Air Presto Off-White. This pair features a monochromatic white colorway. In addition, there is a grey Nike Swoosh (with orange detailing) stitched onto the side panel, "AIR" written on the lateral side of the heel in black, and a white Nike tag on the tongue. Sure to be one of the hottest shoes of 2018, this pair dropped in June 2018 for a retail price of $160.</p>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td><b>STYLE</b></td>
							<td><b>AA3830-100</b></td>
						</tr>
						<tr>
							<td><b>COLORWAY</b></td>
							<td><b>WHITE/BLACK-CONE</b></td>
						</tr>
						<tr>
							<td><b>RETAIL PRICE</b></td>
							<td><b>$160</b></td>
						</tr>
						<tr>
							<td><b>RELEASE DATE</b></td>
							<td><b>08/03/2018</b></td>
						</tr>
						<tr>
							<td><b>IN STOCK(PRICE)</b></td>
							<td><b>US 9($765), US 10($793), US 11($785)</b></td>
						</tr>
					</tbody>
				</table>
				<p><a href="https://stockx.com/nike-air-presto-off-white-white-2018" target="_blank">more information</a></p>
			</div>
		</div>
	</div>
</body>
</html>